name: Test Suites

on:
  push:
    branches: 
      - development
      - 'dependabot/*'
      - renovate
      - 'renovate/*'
  pull_request:
    branches: 
      - master
jobs:
  testfront:
   name: Test Frontend
   runs-on: ubuntu-latest

   env:
     client: ./web

   steps:
     - name: Checkout
       uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

     - name: Node Setup
       uses: actions/setup-node@v4
       with:
         node-version: 12

     - name: NPM Install
       run: npm ci
       working-directory: ${{env.client}}

     - name: Test Frontend
       run: npm test
       working-directory: ${{env.client}}

     - name: Build Frontend
       run: npm build
       working-directory: ${{env.client}}
